/* .notifications {
  background-color: #d4edda;
  color: #155724;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 20%;
  height: 50px;
  transition: 0.4s ease-in;
} */